h1 {
    font-family: Arial;
    font-size: 1.8em;
}
h2{
    font-family: Arial;
    font-size: 1.5em;
}
h3{
    font-family: Arial;
    font-size: 1.4em;
}
p{
    font-family: "Times New Roman";
    font-size: 1.2em;
}
p.niveau-1{
    color: red;
}
p.niveau-2{
    color:green;
}
p.niveau-3{
    color: blue;
}